@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Comfortaa:wght@300..700&family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{

    --fonte-primaria: "Open Sans", sans-serif;
    --fonte-secundaria: "Great Vibes", cursive;
    --fonte-terciaria: "Prata", serif;


    --cor-fonte-primaria: rgb(0, 0, 0);
    --cor-fonte-secundaria: white;
    --cor-fonte-terciaria: #da627d;

    --cor-primaria: #f9dbbd;
    --cor-secundaria: #a53860;
    --cor-terciaria:rgb(255, 165, 171) ;
    --cor-quaternaria:#450920 ;
    --cor-quintenaria:#da627d;

    /* MODO LIGHT*/

    /* MODO DARK*/
}

body{
    font-family: var(--fonte-primaria);
    color: var(--cor-fonte-primaria);
}

header{
    background-image:linear-gradient(40deg, var(--cor-terciaria), var(--cor-secundaria) );
    }

    .nav-link{
        color: var(--cor-fonte-secundaria)!important;
    }

    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256,256,256, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
    }
    
    .navbar-toggler{
        border-color: var(--cor-fonte-secundaria)!important;
    }

    #apresentacao .title{
        font-family: var(--fonte-secundaria);
        color: var(--cor-quaternaria);
    }

    .subtitle{
        font-family: var(--fonte-terciaria);
        color: var(--cor-fonte-terciaria);
    }

    #avatar{
        border-radius: 100px 200px 150px 100px;
    }

    #apresentacao .btn{
        --bs-btn-color: #fff;
        --bs-btn-bg: var(--cor-quaternaria)!important;
        --bs-btn-border-color: var(--cor-quintenaria)!important;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: var(--cor-secundaria)!important;
        --bs-btn-hover-border-color: var(--cor-quintenaria)!important;
        --bs-btn-focus-shadow-rgb: 130, 138, 145;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: var(--cor-quaternaria)!important;
        --bs-btn-active-border-color: #51585e;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: var(--cor-quaternaria)!important;
        --bs-btn-disabled-border-color: #6c757d;
    
    }

    .text{
        font-style: italic;
        color: var(--cor-fonte-terciaria);
    }

    .card-title{
        font-family: var(--fonte-terciaria);
        --bs-card-title-color: var(--cor-quaternaria);

    }

    .btn-primary {
        --bs-btn-bg: var(--cor-secundaria) !important;
        --bs-btn-border-color: var(--cor-quintenaria);
        --bs-btn-hover-bg: var(--cor-secundaria) !important;
    }

    #divisor{
        background-color: var(--cor-secundaria);
        color: var(--cor-fonte-secundaria);
        font-family: var(--fonte-terciaria);
    }

    .modal{
        font-family: var(--fonte-primaria);
        --bs-modal-bg:var(--cor-primaria) !important ;
        --bs-border-color:  var(--cor-quaternaria) !important;
    }

    .modal-title{
        font-family: var(--fonte-terciaria)!important;
        color: var(--cor-secundaria)!important;
    }

    .btn-secondary {
        --bs-btn-color: #fff;
        --bs-btn-bg: var(--cor-secundaria)!important;
        --bs-btn-border-color: var(--cor-quintenaria)!important;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: var(--cor-secundaria)!important;
        --bs-btn-hover-border-color: var(--cor-quintenaria)!important;
        --bs-btn-focus-shadow-rgb: 130, 138, 145;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: var(--cor-quaternaria)!important;
        --bs-btn-active-border-color: #51585e;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: var(--cor-quaternaria)!important;
        --bs-btn-disabled-border-color: #6c757d;
    }

    .card-text{
        font-family: var(--fonte-primaria);
    }

    #galeria .btn:hover{
        opacity: .7;
        transition: 2s;
        transform: scale(1.1);
    }

[data-bs-theme="light"]{

    
    
}

[data-bs-theme="dark"]{

     #apresentacao .title{
     color: var(--cor-primaria);
 }

 .card-title{
    --bs-card-title-color: var(--cor-primaria);
}
    
}




