@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Comfortaa:wght@300..700&family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{

    --fonte-primaria: "Open Sans", sans-serif;
    --fonte-secundaria: "Great Vibes", cursive;
    --fonte-terciaria: "Prata", serif;


    --cor-fonte-primaria: black;
    --cor-fonte-secundaria: white;
    --cor-fonte-terciaria: #f9a392;

    --cor-primaria: #edf6f9;
    --cor-secundaria: #e29578;
    --cor-terciaria:#ffddd2 ;
    --cor-quaternaria:#006d77 ;
    --cor-quintenaria:#83c5be;

    /* MODO LIGHT*/

    /* MODO DARK*/
}

body{
    font-family: var(--fonte-primaria);
    color: var(--cor-fonte-primaria);
}

header{
    background-image:linear-gradient(40deg, var(--cor-terciaria), var(--cor-secundaria) );
    }

    #apresentacao .title{
        font-family: var(--fonte-secundaria);
        color: var(--cor-quaternaria);
    }

    .subtitle{
        font-family: var(--fonte-terciaria);
        color: var(--cor-fonte-terciaria);
    }

    #avatar{
        border-radius: 100px 200px 150px 100px;
    }

    .text{
        font-style: italic;
        color: var(--cor-fonte-terciaria);
    }

    .card-title{
        font-family: var(--fonte-terciaria);
        --bs-card-title-color: var(--cor-quaternaria);

    }

    .btn-primary {
        --bs-btn-bg: var(--cor-secundaria) !important;
        --bs-btn-border-color: var(--cor-quintenaria);
        --bs-btn-hover-bg: var(--cor-secundaria) !important;
    }

    #divisor{
        background-color: var(--cor-secundaria);
        color: var(--cor-fonte-secundaria);
        font-family: var(--fonte-terciaria);
    }

[data-bs-theme="light"]{

    
    
}

[data-bs-theme="dark"]{

    
    
}




